*{
    font-family: 'Manrope';
}
body{
    background: #F1F5FE
}
.container{
    width: 1200px;
    margin: auto;
}
.title, .register{
    width: 450px;
    margin: auto;
}
.title{
    text-align: center;
    background-image: url('images/pattern-circles.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.register{
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 30px;
    /* height: 200px; */
    align-content: space-between;
    display: grid;
}
 input[type="range"]{
    width: 100%;
    margin: 30px 0;
    background: hsl(174, 86%, 45%);
}
.register .display{
    display: flex;
    justify-content: space-between;
}
.register h6, .register .display span{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    color: hsl(225, 20%, 60%);

}
.register h3{
    font-size: 40px;
    display: flex;
    color: hsl(227, 35%, 25%);
}
.register {
    font-size: 14px;
    margin-top: 10px;
    color: hsl(225, 20%, 60%);
}
.register h6, .register h3{
    width: fit-content;
    margin: 0;
}
.register .time-option{
    justify-content: end;
    display: flex;
    margin: 0 3%;
}
.register .time-option p{margin: 0 5px;}
.time-option .discount {
    background: hsl(14, 92%, 95%);
    padding: 1px 4px;
    border-radius: 25px;
    color: hsl(15, 100%, 70%);
    margin: 0 5px;
}

.info{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
}
.info ul{
    padding: 0;
}
.info li{
    list-style: none;
    color: hsl(225, 20%, 60%);
    font-size: 13px;
    letter-spacing: 0.5px;
}
.info li img{
    padding-right: 10px;
}
.info button{
    height: 30px;
    color: hsl(225, 20%, 60%);
    background: hsl(227, 35%, 25%);
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    align-items: center;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 25px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }